#header,
section,
#footer {
  width: 100%;
  min-width: 1600px;
}

.top_banner {
  width: 100%;
  height: 60px;
  background-image: url(https://t1.daumcdn.net/brunch/op/2c1c53c5019f4d6ebde44bc925e47cbf.png);
}
.top_banner .big-banner {
  height: 100%;
  display: none;
}
.top_banner .small-banner {
  display: block;
  width: 960px;
  height: 60px;
  margin: auto;
}
.top_banner .small-banner a img {
  width: 960px;
  height: 60px;
}

.top_banner.on {
  width: 100%;
  height: 480px;
  position: relative;
  background-image: url(https://t1.daumcdn.net/brunch/op/2c1c53c5019f4d6ebde44bc925e47cbf.png);
  transition: 0.5s ease;
}
.top_banner.on .small-banner {
  width: 960px;
  height: 60px;
  margin: auto;
  display: none;
}
.top_banner.on .big-banner {
  margin: auto;
  width: 960px;
  height: 480px;
  display: block;
}
.top_banner.on .big-banner .img-link img {
  width: 100%;
  height: 100%;
}
.top_banner.on .big-banner .btn_close {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v9_230901.png) no-repeat 0 0;
  background-position: -285px 0;
  border: 0;
  margin: 200px 0 -38px 130px;
  z-index: 9999;
}

#header {
  height: 60px;
  position: relative;
}
#header .btn_menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  display: block;
  width: 27px;
  height: 27px;
}
#header .btn_menu i {
  font-size: 27px;
}
#header .logo {
  display: block;
  width: 135px;
  height: 30px;
  overflow: hidden;
  background-image: url(https://t1.daumcdn.net/brunch9/static/images/pc/logo_brunch_v1_221221.png);
  background-position: 0 -235px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
}
#header .right-menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}
#header .right-menu button {
  width: 64px;
  height: 28px;
  border: 1px solid #959595;
  border-radius: 16px;
  color: #666;
  font-family: Noto Sans Light, sans-serif;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header .right-menu .btn_find {
  width: 28px;
  height: 28px;
}
#header .right-menu .btn_find i {
  font-size: 28px;
}

#header.on {
  position: fixed;
}

#section1 {
  height: 2000px;
}
#section1 article {
  width: 960px;
  margin: auto;
}
#section1 article h2 {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: left;
  position: relative;
}
#section1 article h2::after {
  content: "";
  display: block;
  position: absolute;
  right: 365px;
  top: 3px;
  width: 40px;
  height: 40px;
  background-image: url(../icons/pngwing.com.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#section1 article .desc_brunch .part {
  color: #cacaca;
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 32px;
  letter-spacing: -0.05em;
  line-height: 46px;
}
#section1 article .desc_brunch .part:nth-child(2) {
  color: #dddcdc;
}
#section1 article .desc_brunch .part:nth-child(3) {
  color: #e7e6e6;
}
#section1 .notice_banner {
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}
#section1 .notice_banner .icon-notice {
  padding-top: 2px;
  color: #00c6be;
  float: right;
  font-family: "Georgia", sans-serif;
  font-size: 11px;
  font-style: italic;
}
#section1 .notice_banner span a {
  display: block;
  color: #959595;
  font-size: 11px;
}
#section1 .banner-list {
  width: 960px;
  height: 520px;
  border: 1px solid #000;
  margin: auto;
}
#section1 .banner-list li:nth-child(1) {
  width: 480px;
  height: 100%;
  background-color: rgb(144, 115, 91);
}
/*# sourceMappingURL=main.css.map */